* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
