body {
  font-family: 'Poppins', sans-serif;
  background-color: #19212b;
  color: #e0e6eb;
  margin: 0;
}

body[data-theme="light"] {
  background-color: #f5f5f5;
  color: #333;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  width: 100%;
  background-color: #19212b;
}

[data-theme="dark"] .main h1,
[data-theme="dark"] .main h2,
[data-theme="dark"] .main h3,
[data-theme="dark"] .main h4,
[data-theme="dark"] .main h5,
[data-theme="dark"] .main h6 {
  color: #e2e8f0;
}

[data-theme="light"] .main {
  background-color: #f5f5f5;
}

[data-theme="light"] .main h1,
[data-theme="light"] .main h2,
[data-theme="light"] .main h3,
[data-theme="light"] .main h4,
[data-theme="light"] .main h5,
[data-theme="light"] .main h6 {
  color: #14202a;
}