/* Container chứa các Toast */
.container {
  position: fixed;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 12px;
  pointer-events: none;
}

.container > * {
  pointer-events: auto;
}

/* Các vị trí */
.top-right {
  top: 20px;
  right: 20px;
}

.top-left {
  top: 20px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

.bottom-left {
  bottom: 20px;
  left: 20px;
}

.top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.bottom-center {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

/* Responsive */
@media (max-width: 480px) {
  .top-right,
  .top-left,
  .top-center {
    top: 10px;
    left: 16px;
    right: 16px;
    transform: none;
  }

  .bottom-right,
  .bottom-left,
  .bottom-center {
    bottom: 10px;
    left: 16px;
    right: 16px;
    transform: none;
  }
}
